@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

body{
  margin:0px 2px 0px 0px;
}

.container{
  float:left;
}

nav{
  float:left;
  background-color:#0047B2;
  width:100;
  margin-bottom:8px;
  display:inline;
}

.headerLogo{
  float:left;
  background-color:#CCFF99;
  width:270px;
  height:90px;
}

.headerMain{
  float:left;
  background-color:#0047B2;
  text-align:left;
  height:270px;
  margin-left:90px;
}

.headerMainBody{
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  color:white;
  clear:right;
}

.toolbar{
  background-color:#CCFFFF;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
  clear:left;
  float:left;
  width:100;
}

.toolbarBody{
  font-size:14px;
  font-weight:bold;
  display:inline;
  padding:0px;
  margin:0px;
}

.toolbarBody ul li{
  display:inline;
}

.toolbarBody ul li a{
  float:left;
  color:#800000;
  padding:5px 12px;
  text-decoration:none;
  width:90px;
  text-align:center;
}

.toolbarBody li a:hover{
  color:#006600;
}
