@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

#banner{
  background-color:#2952A3;
  font-size:80px;
  color:#FFFFCC;
  z-index:1;
  margin-left:450px;
  padding-left:20px;
  margin-top:0px;
  padding-top:150px;
}

#navLeft {
  background-color:#99FFCC;
  display-inline:inline-block;
  z-index:2
  margin:auto;
}

#navTitle{
font-family: 'Oswald', sans-serif;
font-size:50px;
}

nav ul{
  list-style-type:none;
  display:block;
  padding-right:300px;
  margin-left:-30px;
}

nav a{
  text-decoration:none;
  color:black;
}

a:hover{
  text-decoration:underline;
}

nav ul{
  float:left;
}

.clear{
  clear:both;
}

body{

}
